# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
out
src/ErrorDetectors
src/ErrorDetectors_dbg

# Graph files 
*.eps
*.pdf

# Data 
Graphs/*
!Graphs/*.py
code/simulations/data

.cmdenv-log
code/out

res.txt
